<div id="<%= dom_id post %>" class="<%= cycle('bg-light', 'bg-dark') %>">
  <div>
    <strong>
      <b><%= link_to post.title, post %></b>
    </strong>
  </div>
  <div>
    <%= post.body %>
  </div>
</div>