
body {
    margin: 0; /* Remove default body margin */
    font-family: sans-serif;
    display: flex; /* Use Flexbox for layout */
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

header {
    background-color: #4CAF50;
    color: black;
    text-align: center;
    /* padding: 1em; */
}

.wa_title {
    float: left;
    width: 50%;
}

.header_links {
    float: right;
    width: 50%;
}

.header_links p {
    text-align: right;
}

main {
    padding: 10px;
    flex-grow: 1; /* Allows main to grow and fill the available space */
}

#posts {
    border: 5px;
    border-color: #000d01;
}

.bg-light {
    padding: 10px;
    background-color: #ffffff;
}

.bg-dark {
    padding: 10px;
    background-color: rgb(244, 219, 219);
}

.post-title {
    font-weight: bold;
    font-size: larger;
}

.show-links {
    padding: 10px 0px;
}

.show-links a{
    color: blue;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    /* padding: 1em; */
    margin-top: auto; /* Pushes the footer to the bottom */
}
